@{
    ViewData["Title"] = "My Gram";
}

<div id="MainContainerDiv" class="text-center">
    <h1 id="MyPar" class="display-4">My Gram</h1>
    <p>Log In</p>
    <p>Sign Up</p>
    <section class="SectionClass">

        <span>
            image1
            image2
            image3
            image4
            image5
        </span>

    </section>
    <section class="SectionClass">
        <p>About Blog Jobs Help</p>
        <p>English 2021 MyGram</p>

    </section>
</div>
